/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ KLEUREN PALETTE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Nadeshiko Pink                          #EDADC7
De pink in het donker                   #831d46
bijpassende groen                       #1D8359             
                    GEIMPORTEERDE FONTS
font-family: 'Codystar', cursive;
font-family: 'Kenia', cursive;
font-family: 'Zen Dots', cursive;
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*                  UNIVERSELE OPMAAK           */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.active-tab{
    color:#1D8359;
}
header{
    width:100%;
    color: white;
    font-weight: 900;
    letter-spacing: 1px;
    background: #EDADC7;
    height: 80px;
    display: flex;
    flex-direction: column;
    font-family: 'Codystar', cursive;
}
header > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 10px;
}
header > div > img{
    width: 64px;
}
nav{
    font-family: 'Codystar', cursive;
background: #EDADC7;
width: 100%;
display: flex;
flex-direction: column;
}
nav > ul{
    display: flex;
    justify-content: space-evenly;
}
nav > ul > li{
    padding: 0 5px;
    list-style-type: none;
}
nav > ul >li > a{
    color: white;
    text-decoration: none;
}
nav > ul > li > a:hover{
    color:#1D8359;
}
body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
    font-family: 'Zen Dots', cursive;
}
button{
    background: #1D8359;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
}
button > a{
    color:white;
    text-decoration: none;
}
h1,h2,h3,h4{
    padding: 10px 0px;
    color:#1D8359;
}
p,span,label{
    padding: 10px 0px;
    font-size: 10px;
}
.list{
    font-size: 10px;
}
.img-right-box{
    width: 100%;
    border-radius: 5px;
}
main{
    display: flex;
    padding: 20px 20px;
}
.fat-txt{
    font-weight: 700;
}
.link-txt{
    color: #831d46;
    text-decoration: none;
}
.linker-deel{
    padding: 0px 20px;
    width: 60%;
}
.rechter-deel{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 0px 20px;
}
footer{
    height: 40px;
    width: 100%;
    background: #EDADC7;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/*      Ervaringen pagina           */
.testimonial{
    border-left: 2px solid grey;
    font-style: italic;
    padding: 10px 10px;
}

/*      Contact pagina               */
.google-map{
    width: 100%;
    height: auto;
}
.contact-formulier{

}
.contact-formulier > input[type='text'],input[type='email'],input[type='tel'],label,textarea{
 width: 100%;
}
.contact-formulier > textarea{
    height: 10rem;
}
/*      Media Queries               */
@media only screen and (min-width: 864px) {
    main{
        width: 90%;
    }
} 
@media only screen and (min-width: 1440px) {
    main{
       width: 70%;
    }
} 
